.container {
  position: relative;
  width: 100%;
  height: 100%;

  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapperGallery {
  display: grid;
  max-width: calc(100vw - 32px);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 8px;
  margin-top: 14px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.customProgressBar {
  width: 100px;
  height: 100px;
}

.customProgressBar {
  display: flex;
  width: 150px;
  height: 80px;

  position: absolute;
  top: -20px;
  left: 43%;
}

.loadMoreButton {
  min-width: 80px;

  margin-top: 14px;
  margin-bottom: 14px;
  padding: 6px 30px 2px 30px;

  font-family: "Great Vibes", cursive;
  font-size: 24px;
  font-weight: 400;
  color: var(--second-text-color);

  border-radius: 6px;
  border: none;

  background-color: var(--main-btn-color);
  transition: var(--transition-duration-and-timing-function);
}

.loadMoreButton:focus,
.loadMoreButton:hover {
  color: var(--accent-text-color);
  background-color: var(--btn-color-hover-focus);
  outline: solid 1px var(--accent-text-color);
}
