.item {
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  cursor: zoom-in;

  scale: 1;
  transition: var(--transition-duration-and-timing-function);
}

.item:focus,
.item:hover {
  outline: solid 1px var(--accent-text-color);
  scale: 102%;
}

.itemImgage {
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
